<!--<pre>
  Price: {{price}}
  Filter: {{filter}}
</pre>-->

<div class="row gifts" ng-swipe-right="back()" ng-swipe-left="next()">
    <button class="btn btn-yuno-blue btn-lg back" ng-click="back()">&lt;</button>
    <button class="btn btn-yuno-blue btn-lg next" ng-click="next()">&gt;</button>
    <div class="title">Het ideale cadeau</div>
    <div class="holder">
      <img class="image" ng-src="{{gift().image}}" />
    </div>
    <div class="description">
      <span class="pull-right"><strong>&euro; {{gift().price}}</strong></span>
      <span><strong>{{gift().name}}</strong></span></br>
      <span>{{gift().description}}</span>
    </div>
    
   

</div>

<div class="navbar navbar-static-bottom">
  <div class="container footer">
    <div class="row row-medium">
      <a class="btn btn-yuno-blue btn-lg btn-block" ng-click="order()">Naar de webshop</a>
    </div>
  </div>
</div>
