<div class="row questions">
	
	<div class="title" class="col-xs-12">Vraag: {{step+1}}</div>

	<div class="col-xs-12">

		<div class="question">{{questions[step].question}}</div>

		<div margin 10px;>
			<button class="btn btn-lg btn-block btn-yuno-pink" ng-click="next(questions[step].answers[0])">{{questions[step].answers[0]}}</button>
			<button class="btn btn-lg btn-block btn-yuno-blue" ng-click="next(questions[step].answers[1])">{{questions[step].answers[1]}}</button>
			<button class="btn btn-lg btn-block btn-yuno-green" ng-click="next(questions[step].answers[2])">{{questions[step].answers[2]}}</button>
		</div>
	</div>
</div>

<div class="navbar navbar-fixed-bottom">
	<div class="container footer">
		<div class="row row-medium">
			<button class="btn btn-yuno-blue btn-lg btn-block" ng-click="back()">&lt; Terug</button>
		</div>
	</div>
</div>