<div class="row start">
	<div class="col-xs-12 top">
		<p>Deze app gaat je</p>
		<p><span class="trashHand">een aantal vragen</span></p>
		<p>stellen</p>
	</div>
	<div class="col-xs-12 bottom">
		<p>Op basis van de antwoorden doet YUNO een voorstel voor een geschikt cadeau, die je meteen kunt bestellen</p>
	</div>
</div>



<div class="navbar navbar-fixed-bottom">
	<div class="container footer">
		<div class="row row-medium">
			<button class="btn btn-yuno-blue btn-lg btn-block" ng-click="start()">Volgende &gt;</button>
		</div>
	</div>
</div>